table {
    font-family: 'Roboto';
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    
  }
  
  table, th, td, tr {
    border: 1px solid black;
  }
  
  th, td {
    text-align: center; 
    vertical-align: middle;
  }
  th{
    height: 56px; 
  }
  td{
    height:46px;
  }
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    font-weight: bold;
  }
  .error-container{
    background-color: red;
    padding: 0;
  }
  .margin-setting{
    margin-top:0;
    padding-top: 0;
  }
  .error-message{
    margin: 0;
  }
  