.research-publications-add-button{
    height: 40px;
  border-radius: 4px;
  width: 120px;
  font-family: 'Roboto';
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  
  background:linear-gradient(to right,#264dc0,#0d1641);
}
.research-publications-remove-button{
    height: 40px;
    border-radius: 4px;
    width: 80px;
    font-family: 'Roboto';
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background:linear-gradient(to right,#C02633,#410d11);
}
.research-publications-remove-button-icon{
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color:transparent;
  height:40px;
  width: 40px;
  border-radius: 50%;
  transition: .5s ease;
  }
  .form-delete-icon{
    font-size: 20px;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}